@import "../../assets/style/_adaptiv-value";
@import "../../assets/style/_variables";

.account-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;

  .account {
    background: $popupColorBg;
    position: relative;
    @include adaptiv-value("width", 400, 200, 0);
    max-height: 90%;
    background-color: $addColorBg;
    @include adaptiv-value("border-radius", 20, 5, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: black;
    font-family: "Cormorant Infant", serif;
    transition: transform 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include adaptiv-value("padding", 20, 8, 0);
    @include adaptiv-value("font-size", 20, 12, 0);

    .close {
      @include adaptiv-value("top", 10, 5, 0);
      @include adaptiv-value("right", 10, 5, 0);

      img {
        @include adaptiv-value("width", 15, 8, 0);
        @include adaptiv-value("height", 15, 8, 0);
      }
    }

    input {
      @include adaptiv-value("font-size", 20, 10, 0);
      @include adaptiv-value("width", 200, 100, 0);
      @include adaptiv-value("margin", 10, 3, 0);
      text-align: center;
      border: #660d57 solid 1px;
    }
    button {
      font-family: "Cormorant Infant", serif;
      @include adaptiv-value("font-size", 20, 10, 0);
      font-weight: 900;
      background-color: rgb(250, 185, 185);
      transition: all ease 0.2s;
      color: #9a1b8b;
      border-radius: 20px;
      @include adaptiv-value("margin-top", 10, 4, 0);
      @include adaptiv-value("padding-bottom", 5, 4, 0);
      @include adaptiv-value("padding-top", 5, 4, 0);
      @include adaptiv-value("padding-right", 40, 20, 0);
      @include adaptiv-value("padding-left", 40, 20, 0);
    }
    button:hover {
      cursor: pointer;
      background: rgb(248, 131, 131);
      color: #660d57;
    }

    // .account__logOrReg
    &__logOrReg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include adaptiv-value("margin-bottom", 10, 5, 0);
    }

    // .account__login
    &__login {
      @include adaptiv-value("margin-right", 30, 15, 0);
    }

    // .account__login-form
    &__login-form {
      display: flex;
      #login-form {
        flex-direction: column;
      }
    }

    // .account__register-form
    &__register-form {
      display: none;
      #register-form {
        flex-direction: column;
      }
    }
  }
}
.uncorrect {
  border: 2px solid red !important;
  animation: uncorrect 0.1s ease 3;
}
