@import "../../assets/style/_adaptiv-value";
@import "../../assets/style/_variables";

// Стилі для розділу "Про мене"
.for-me-wrapper {
  width: 100%;
  height: 100% !important;
  display: block;
}
.for-me {
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  transition: transform 1s ease;

  @include adaptiv-value("padding-top", 20, 5, 0);
  @include adaptiv-value("padding-left", 20, 5, 0);
  @include adaptiv-value("padding-bottom", 20, 5, 0);
  @include adaptiv-value("padding-right", 20, 5, 0);

  @include adaptiv-value("font-size", 16, 10, 0);

  @include adaptiv-value("text-indent", 20, 12, 0);

  p {
    margin-bottom: 10px;
  }
  @media (max-width: 576px) {
    width: 80%;
  }
}
