@import "../../assets/style/_adaptiv-value";
@import "../../assets/style/_variables";

// .logo
.logo {
  width: 150 / $maxWidthScreen * 100%;
  overflow: hidden;

  // .logo__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
