@import "../../assets/style/_adaptiv-value";
@import "../../assets/style/_variables";

.product {
  @include adaptiv-value("padding", 6, 3, 0);
  @include adaptiv-value("border-radius", 6, 3, 0);
  display: flex;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 90%;
  }

  /* ====================================================================== */

  // Стилі для слайдера

  // .product__slider-wrapper
  &__slider-wrapper {
    width: 60%;
    text-align: center;
  }

  // .product__description-wrapper
  &__description-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  /* ====================================================================== */
  // Стилі для розділу "Опис товару"

  // .product__description
  &__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    div {
      @include adaptiv-value("margin-bottom", 20, 10, 0);
    }
  }

  // .product__title
  &__title {
    @include adaptiv-value("font-size", 32, 12, 0);
    font-weight: 900;
  }

  // .product__text
  &__text {
    @include adaptiv-value("font-size", 24, 10, 0);
  }

  // .product__price
  &__price {
    @include adaptiv-value("font-size", 24, 10, 0);
  }

  // .product__button
  &__button {
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    @include adaptiv-value("font-size", 24, 10, 0);
    @include adaptiv-value("padding-top", 4, 2, 0);
    @include adaptiv-value("padding-bottom", 6, 2, 0);
    @include adaptiv-value("padding-left", 20, 8, 0);
    @include adaptiv-value("padding-right", 20, 8, 0);
    background-color: rgb(250, 215, 215);
    transition: all ease 0.2s;
    color: #9a1b8b;
    @include adaptiv-value("border-radius", 20, 10, 0);
  }
  &__button:hover {
    cursor: pointer;
    background: rgb(248, 131, 131);
    color: #660d57;
  }
}
